<!-- templates/index.html -->
<!doctype html>
<html>
<head>
    <title>Oauth2 SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-success">
        <h1><span class="fa fa-lock"></span>{{.Title}}</h1>
        <p>Login or Register with:</p>
        {{range .Details}}
        <p><a href="/auth/{{.Name}}" class="btn {{.Button}}"><span class="fa {{.Icon}}"></span> SignIn with {{index .Description}}</a></p>
        {{end}}
    </div>
</div>
</body>
</html> 